<!doctype html>
<html lang="en">

<head>
	<title>MySQL更新审核-sql执行结果查询</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/assets/css/main.css">
    <link rel="stylesheet" href="/static/assets/css/jquery.dataTables.min.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/static/assets/css/demo.css">
    <link rel="stylesheet" href="/static/assets/vendor/chartist/css/chartist-custom.css">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/assets/img/favicon.png">
    <script src="/static/jedate/jedate.js"></script>

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="/static/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/updatepwd/"><i class="lnr lnr-cog"></i> <span>修改密码</span></a></li>
                        <li><a href="/logout/"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
						<!-- <li>
							<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">

		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
                    <div class="breadcrumbs">
                        <ol class="breadcrumb">
                          <li><a href="/dashboard/">仪表盘</a></li>
                          <li><a href="/mysqlsql/mysqllist/">MySQL更新审核</a></li>
                          <li><a>sql执行结果查询</a></li>
                        </ol>
                    </div>
					</div>
                    <div class="span12">
					        <div class="box">
                                <form action="/mysqlsql/sqlresultselect/" method="post" class="form-horizontal validate" onsubmit="return toVaild()">
                                    <div class="box-content submit">
                                        查询执行时间
                                        &nbsp&nbsp&nbsp&nbsp<td class="datep"><input class="datainp" id="selecttime" name="selecttime" type="text"  value="{{num1}}"/></td>
                                        </br>
                                        sql内容
                                        &nbsp&nbsp&nbsp&nbsp<td class="datep"><input class='form-control required:true' data-max="1000" rows='5' id="contentinfo"  name="contentinfo" type="text" value="{{num2}}" /></td>
                                        &nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-primary" >查询</button>
                                    </div>
                                </form>
                            </div>
                     </div>
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<!-- BORDERED TABLE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">查询结果</h3>
								</div>
								<div class="panel-body">
									<table class="table table-bordered" id="listpage">
										<thead>
											<tr>
                                                <th>申请执行人</th>
                                                <th>申请执行DB</th>
                                                <th>执行方式</th>
                                                <th>提交时间</th>
												<th>执行时间</th>
												<th>sql概述</th>
                                                <th>sql详情</th>
											</tr>
										</thead>
										<tbody>
                                        {% for item in data %}
											<tr>
                                                <td>{{item.username}}</td>
                                                <td>{{item.dbname}}</td>
                                                {% if item.isinceptionuse == 1 %}
                                                    <td>sql直接更新</td>
										        {% elif item.isinceptionuse == 2 %}
                                                    <td>inception更新</td>
										        {% endif %}
                                                <td>{{item.submittime}}</td>
                                                <td>{{item.executetime}}</td>
                                                <td>{{item.sqlcontent}}</td>
                                                <td>
                                                    <a href="/mysqlsql/sqlcontentinfo?taskid={{item.taskid}}" class='lnr lnr-book' title="查看sql内容" ></a>
                                                </td>
											</tr>
                                            {% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							<!-- END BORDERED TABLE -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/scripts/jquery.dataTables.min.js"></script>
	<script src="/static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/assets/scripts/klorofil-common.js"></script>
    <script src="/static/js/bootstrap.timepicker.js"></script>
    <script src="/static/js/bootstrap.datepicker.js"></script>

    <script type="text/javascript">
        $(function(){
            $("#sidebar-nav").load('/left/');
            $('#listpage').DataTable({
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": true,
                "sPaginationType": "full_numbers",
                "oLanguage" : {
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "抱歉， 没有找到",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                    "sInfoEmpty": "没有数据",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "名称:",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    }
                }
            });

        })
        //jeDate.skin('gray');
        jeDate({
            dateCell:"#selecttime",
            format:"YYYY-MM-DD",
            isinitVal:true,
            isTime:true, //isClear:false,
            minDate:"2014-09-19",
            okfun:function(val){alert(val)}
        })

        function toVaild(){
            var selecttime = document.getElementById("selecttime").value;
            var contentinfo = document.getElementById("contentinfo").value;

            if(selecttime == '' || contentinfo == '' ){
     	        if(selecttime == '' ){
     		        alert("查询日期不为空");
        	        return false;
                }
                if(contentinfo == '' ){
     		        alert("查询sql不为空");
        	        return false;
                }

            }
        }

    </script>
</body>

</html>